@charset "UTF-8"

body {
	margin:0;
	padding:0;
}

#state {
	font-size:xx-small;
}

#pad {
	width: 100%;
	height: 70%;
}

.off {
	background-color:#cccccc;
}

.on {
	background-color:#cceeee;
}

#takeoff {
	background-color:#ccffcc;
	width: 70px;
	height: 70px;
}
